@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700&display=swap');

@theme{
 --font-sans: "Nunito Sans", sans-serif;
 --color-background: #F9F5F0;
 --color-background-secondary: #F6EFE4;
  --color-primary: #5A6D57;  
  --color-accent: #DAB785;
  --color-text: #2F3E2F;
}

@layer base {
 html{
 background-color: var(--color-background);
 font-family: var(--font-sans);
 color:var(--color-text)
 }
 
}